#FormularioLoginUsuario {
  background-color: white;
  padding: 30px;
}

#FormularioCadastroUsuario {
  background-color: white;
  padding: 30px;
}

/* #fundoPaginaLogin {
  background-image: url(./imagens/fundo_login.jpg);
}

#fundoPaginaCadastroUsuario {
  background-image: url(./imagens/fundo_login.jpg);
} */
